.explorer-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.explorer-header {
  flex: 0 0 80px;
  padding: 15px 20px;
  color: #999;
  // background: $lighter-color;
}

.explorer-header .btn-group {
  margin-left: 10px;
}

.explorer-body {
  flex: 1 1;
  position: relative;
  overflow: scroll;
  // border: 1px solid red;
}

.explorer-footer {
  flex: 0 0 50px;
  padding: 10px;
  // background: $lighter-color;
}

/* Explorer Body Loading styles */

.explorer-loading {
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  .fa {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    color: $dark-color;
  }
}

.query-profile {
  float: right;
}

.filter-predicate, .order-by-predicate {
  display: inline-block;
  position: relative;
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  font-size: 12px;
}

.filter-predicate {
  min-width: 100px;
  padding: 2px 10px 2px 60px;
}

.order-by-predicate {
  min-width: 107px;
  padding: 2px 10px 2px 67px;
}

input.input-code {
  display: inline;
  height: 20px;
  line-height: 20px;
  padding: 0;
  border-radius: 0;
  background: none;
  border: none;
  box-shadow: none;
  border-bottom: 1px solid darkorchid;
  font-size: 12px;
}

input.input-code:focus {
  box-shadow: none;
  border-bottom: 1px solid hotpink;
}

.predicate-opener {
  position: absolute;
  left: 0;
  height: 20px;
  line-height: 20px;
}

.predicate-closer {
  position: absolute;
  right: 0;
  height: 20px;
  line-height: 20px;
}

.filter-help-icon {
  font-size: 14px;
  position: absolute;
  top: -9px;
  right: -12px;
}
