.explorer-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.explorer-header {
  padding: 8px 16px;
  //flex: 0 0 80px;
  //padding: 15px 20px;
  color: #9B9B9B;
  // background: $lighter-color;
}

.explorer-header .btn-group {
  margin-left: 10px;
}

.explorer-header-row{
  margin-bottom:8px;
  height:32px;
  padding: 8px 0;
}
.crumb-icon{
  height:16px;
  width:16px;
  padding:8px;
}

.explorer-body {
  flex: 1 1;
  position: relative;
  overflow: scroll;
  // border: 1px solid red;
}

.explorer-footer {
  flex: 0 0 50px;
  padding: 10px;
  // background: $lighter-color;
}

/* Explorer Body Loading styles */

.explorer-loading {
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  .fa {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    color: $dark-color;
  }
}

.query-profile {float: right;}


.query-builder {
  $filter-color: #268BD2;
  $order-by-color: #2AA198;


  .filter-predicate, .order-by-predicate{
    background: #ccc;
    height: 32px;
    display: inline-block;
    border-radius: 4px;
    margin-right:8px;
    box-shadow:rgba(0,0,0,.5) 0px 1px 2px;

    form{
      display: inline-block;
    }

    input{
      border: none;
      background: #fff;
      box-sizing: border-box;
      height:32px;
      text-align:center;
      //font-family:'Inconsolata';
      font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
      font-size:13px;
      box-shadow: none;

      &:focus{
        border: 1px solid #000;
        box-shadow: none;
        outline: none;
      }
    }
  }

  .filter-predicate{
    background: $filter-color;

    input{
      color: $filter-color;

      &:focus{
        border-color: $filter-color;
      }
    }
  }

  .order-by-predicate {
    background: $order-by-color;

    input{
      color: $order-by-color;

      &:focus{
        border-color: $order-by-color;
      }
    }
  }

  .predicate-opener, .predicate-closer, .input-code {
    display:inline-block;
    margin: 0;
    padding: 5px 16px;
  }

  .predicate-opener, .predicate-closer{
    color:#fff;
    font-weight:bold;
  }

  .filter-help-icon {
    margin-left: 8px;
    opacity: .75;
    &:hover{
      opacity: 1;
    }
  }

}



