
$darkest-color: #002b36;
$dark-color: #073642;
$lighter-color: rgb(245, 245, 245);
$darker-grey: rgb(150, 150, 150);

html, body, .main-content {
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  word-wrap: break-word;
  font-family: 'Open Sans', sans-serif;
}

.content-wrapper {
  display: flex;
  height: 100%;
}

/* MAIN CONTENT LAYOUT STYLES */

.body-content-col {
  flex: 1 1;
  background: $lighter-color;
  display: flex;
}

/* MAIN CONTENT LAYOUT STYLES END */


/* SIDEBAR LAYOUT STYLES */

.sidebar {
  flex: 0 0 360px;
  display: flex;
}

.fav-content-col {
  flex: 0 0 90px;
  background: $darkest-color;
  position: relative;
}

.db-content-col {
  flex: 1;
  background: $dark-color;
  overflow: scroll;
}

/* SIDEBAR LAYOUT STYLES END */

.ConnectionForm {
  width: 600px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -300px;
  z-index: 100000;
}

.EntityForm {
  width: 600px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -300px;
  z-index: 100000;
}



.table-view-container {
  /*margin-left: -15px;*/
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  /*margin:0;*/
  /*padding:0;*/
}

.data-table-main {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 50px;
}

.breadcrumb-text-container {
  display: inline;
  position: relative;
  top: 6px;
}

.breadcrumb-text-container span {
  /*display: inline;*/
  /*font-size: 1.5em;*/
}

.bread-crumbs .fa-arrow-right {
  /*color: #FFF;*/
  /*font-size: 1.5em;*/
  /*display: inline;*/
  /*padding-left: 10px;*/
  /*padding-right: 10px;*/
}

.empty-table {
  padding: 0 10px;
  color: $dark-color;
}

.explorer-full-message {
  margin-top: 60px;
  padding: 15px 10px;
  color: $dark-color;
  text-align: center;
  font-size: 25px;
}

.favorite.active .favorite-identicon {
  box-shadow: 0 0 0px 12px lighten($darkest-color, 4%);
}

.loading-cell {
  font-style: italic;
  color: $dark-color;
}

.pagination-details {
  display: inline;
  line-height: 32px;
  color: #999;
}

.rows-per-page-selector{
    padding: 0 15px;
}

.page-select{
  padding: 0 10px;
  position: relative;
  left: 3px;
}

#editor {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.action-buttons .btn {
  margin-right: 5px;
}

.start-logo{
    max-width: 60%;
    margin: 50px 0;
}

.toast-container {
  position: absolute;
  z-index: 5;
  right: 10%;
  top: 15px;
  padding: 0 30px;
  border-radius: 5px;
  max-width: 80%;
  max-height: 80%;

  i {
    margin-right: -10px;
  }
}

.tableview-header {
  cursor: pointer;
}

/* About Window styles */

.about-container {
  background: $lighter-color;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}


