$darkest-color: #002b36;
$dark-color: #073642;
$lighter-color: rgb(245, 245, 245);
$darker-grey: rgb(150, 150, 150);
html, body, .container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  word-wrap: break-word;
}


/*.sidebar-content-row p {
  color: #FFFFFF;
}*/


/* MAIN CONTENT LAYOUT STYLES */

.container.main-content {
  display: table;
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.main-content-row {
  height: 100%;
  display: table-row;
}

.col-md-3.no-float, .col-md-9.no-float {
  float: none;
  padding: 0;
}

.left-content-col {
  display: table-cell;
  width: 360px;
  padding: 0;
}

.body-content-col {
  /*display: table-cell;*/
  /*display: block;*/
  /*width: 100%;*/
  background: $lighter-color;
  /*height: 100vh;*/
  min-width: 440px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0;
  position: relative;
  height: 100%;
}


/* MAIN CONTENT LAYOUT STYLES END */


/* SIDEBAR LAYOUT STYLES */

.container.sidebar-content {
  display: table;
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.sidebar-content-row {
  height: 100%;
  display: table-row;
  color: #fff;
}

.fav-content-col {
  display: table-cell;
  background: $darkest-color;
  min-width: 90px;
  position: relative;
  padding: 0;
}

.db-content-col {
  display: table-cell;
  background: $dark-color;
  width: 75%;
  min-width: 270px;
  padding: 0;
}


/* SIDEBAR LAYOUT STYLES END */

.connectionForm {
  width: 600px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -300px;
  z-index: 100000;
}

.add-favorite {
  position: absolute;
  bottom: 15px;
  left: 37%;
  cursor: pointer;
}

.add-favorite:hover {
  opacity: .6;
}

.add-favorites-icon {
  color: #FFFFFF;
  font-size: 1.5em;
}

.favorite-identicon {
  border-radius: 2px;
  margin-left: 24px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin-bottom: 5px;
  background: #FFF;
  margin-bottom: 15px;
}

.favorite {
  position: relative;
  top: 30px;
  margin-bottom: 30px;
  font-size: 11px;
}

.favorite p {
  cursor: pointer;
}

.databases-header {
  height: 28px;
  position: relative;
  top: -10px;
  padding: 0px 20px;
  font-weight: bold;
}

.databases-header p {
  /*font-size: 2em;*/
  /*padding-left: 15px;*/
  display: inline;
}

.databases-header .edit-connection {
  float: right;
  color: lighten($dark-color, 10%);
}

.databases-header .edit-connection:hover {
  color: lighten($dark-color, 30%);
}

.database .db {
  padding: 10px 20px;
  cursor: pointer;
  background: lighten($dark-color, 2%);
  border-bottom: $dark-color 1px solid;
}

.database .db:hover {
  background: lighten($dark-color, 4%);
}


/*.fa-database {
  display: inline;
  font-size: 1.5em;
  color: #FFF;
}*/


/*.database p {
  display: inline;
  padding-left: 10px;
  font-size: 1.5em;
  margin-top: 5px;
}*/


/*.db-tables {
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}*/

.db-table div {
  padding: 10px 40px;
  cursor: pointer;
  background: darken($dark-color, 1%);
  border-bottom: darken($dark-color, 2%) 1px solid;
}

.db-table div:hover {
  background: $dark-color;
}


/*.fa-table {
  display: inline;
  font-size: 1em;
  color: #FFF;
}*/

.explorer-container {
  position: absolute;
  bottom: 0;
  top: 0;
  width: 100%;
}

.explorer-header {
  background: $lighter-color;
  padding: 15px 20px;
  ;
  height: 55px;
  color: #999;
}

.explorer-header .btn-group {
  margin-left: 10px;
  /* margin: 0; */
}

.explorer-body {
  position: absolute;
  top: 55px;
  bottom: 0;
  margin: 0;
  width: 100%;
}

.explorer-footer {
  /* margin-top: 15px; */
  /* padding: 13px 10px; */
  position: fixed;
  bottom: 0;
  right: 0;
  /* width: 100%; */
  left: 360px;
  background: $lighter-color;
  height: 50px;
  padding: 10px;
}

.table-view-container {
  /*margin-left: -15px;*/
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  /*margin:0;*/
  /*padding:0;*/
}

.data-table-main {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 50px;
}

.breadcrumb-text-container {
  display: inline;
  position: relative;
  top: 6px;
}

.breadcrumb-text-container span {
  /*display: inline;*/
  /*font-size: 1.5em;*/
}

.bread-crumbs .fa-arrow-right {
  /*color: #FFF;*/
  /*font-size: 1.5em;*/
  /*display: inline;*/
  /*padding-left: 10px;*/
  /*padding-right: 10px;*/
}

.empty-table {
  padding: 0 10px;
  color: $dark-color;
}

.select-table {
  padding: 15px 10px;
  color: $dark-color;
}

.favorite.active .favorite-identicon {
  box-shadow: 0 0 0px 12px lighten($darkest-color, 4%);
}

.loading-cell {
  font-style: italic;
  color: $dark-color;
}

.pagination-details {
  display: inline;
  line-height: 32px;
  color: #999;
}

#editor {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.action-buttons .btn {
  margin-right: 5px;
}

.start-logo{
    max-width: 60%;
    margin: 50px 0;
}

.toast-container {
  position: absolute;
  z-index: 1;
  right: 15px;
  top: 15px;
  padding: 0 30px;
  border-radius: 5px;

  i {
    margin-right: -10px;
  }
}
