$darkest-color: #002b36;
$dark-color: #073642;
$lighter-color: rgb(245, 245, 245);
$darker-grey: rgb(150, 150, 150);
html, body, .container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  word-wrap: break-word;
  font-family: 'Open Sans', sans-serif;
}


/*.sidebar-content-row p {
  color: #FFFFFF;
}*/


/* MAIN CONTENT LAYOUT STYLES */

.container.main-content {
  display: table;
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.main-content-row {
  height: 100%;
  display: table-row;
}

.col-md-3.no-float, .col-md-9.no-float {
  float: none;
  padding: 0;
}

.left-content-col {
  display: table-cell;
  width: 360px;
  padding: 0;
}

.body-content-col {
  /*display: table-cell;*/
  /*display: block;*/
  /*width: 100%;*/
  background: $lighter-color;
  /*height: 100vh;*/
  min-width: 440px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0;
  position: relative;
  height: 100%;
}


/* MAIN CONTENT LAYOUT STYLES END */


/* SIDEBAR LAYOUT STYLES */

.container.sidebar-content {
  display: table;
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.sidebar-content-row {
  height: 100%;
  display: table-row;
  /*color: #fff;*/
}

.fav-content-col {
  display: table-cell;
  background: $darkest-color;
  min-width: 90px;
  position: relative;
  padding: 0;
}

.db-content-col {
  display: table-cell;
  background: $dark-color;
  width: 75%;
  min-width: 270px;
  padding: 0;
}


/* SIDEBAR LAYOUT STYLES END */

.ConnectionForm {
  width: 600px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -300px;
  z-index: 100000;
}

.EntityForm {
  width: 600px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -300px;
  z-index: 100000;
}

.delete-db-warning {
  color: #900000;
  border-radius: 5px;
  padding: 10px;
}

.delete-db-validation-error {
  border-radius: 5px;
  padding: 10px;
}

.add-favorite {
  position: absolute;
  bottom: 15px;
  left: 37%;
  cursor: pointer;
}

.add-favorite:hover {
  opacity: .6;
}

.add-favorites-icon {
  color: #FFFFFF;
  font-size: 1.5em;
}

.favorite-identicon {
  border-radius: 2px;
  margin-left: 24px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin-bottom: 5px;
  background: #FFF;
  margin-bottom: 15px;
}

.favorite {
  position: relative;
  top: 30px;
  margin-bottom: 30px;
  font-size: 11px;
  color:#fff;
}

.favorite p {
  cursor: pointer;
}

.databases-header {
  height: 28px;
  position: relative;
  top: -10px;
  padding: 0px 20px;
  
}

.databases-header .title{
  color: #fff;
  font-weight: bold;
}

.databases-header p {
  /*font-size: 2em;*/
  /*padding-left: 15px;*/
  display: inline;
}

.databases-header .connection-action-menu-button {
  float: right;
  color: lighten($dark-color, 10%);
}

.databases-header .connection-action-menu-button:hover {
  color: lighten($dark-color, 30%);
}

.database {
  position: relative;

  .database-name {
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.3;
    display: inline-block;
    position: relative;
    top: 5px;
  }

  &:hover {
    .btn-group {
      display: block;
    }
  }

}

.database .btn-group {
  position: absolute;
  right: 0;
  top: 0;
  display: none;

  button {
    height: 39px;
    border-radius: 0;
  }

}

.database .db {
  padding: 10px 20px;
  cursor: pointer;
  background: lighten($dark-color, 2%);
  border-bottom: $dark-color 1px solid;
  color: #fff;
}

.database .db:hover {
  background: lighten($dark-color, 4%);
}


/*.fa-database {
  display: inline;
  font-size: 1.5em;
  color: #FFF;
}*/


/*.database p {
  display: inline;
  padding-left: 10px;
  font-size: 1.5em;
  margin-top: 5px;
}*/


/*.db-tables {
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}*/
.db-table{
  color:#fff;
}

.db-table div {
  padding: 10px 40px;
  cursor: pointer;
  background: darken($dark-color, 1%);
  border-bottom: darken($dark-color, 2%) 1px solid;
}

.db-table.selected div {
  padding: 10px 40px;
  cursor: pointer;
  background: lighten($dark-color, 1%);
  border-bottom: lighten($dark-color, 3%) 1px solid;
}

.db-table div:hover {
  background: $dark-color;
}


/*.fa-table {
  display: inline;
  font-size: 1em;
  color: #FFF;
}*/

.explorer-container {
  position: absolute;
  bottom: 0;
  top: 0;
  width: 100%;
}

.explorer-header {
  background: $lighter-color;
  padding: 15px 20px;
  ;
  height: 55px;
  color: #999;
}

.explorer-header .btn-group {
  margin-left: 10px;
  /* margin: 0; */
}

.explorer-body {
  position: absolute;
  // top: 55px;
  // bottom: 0;
  margin: 0;
  width: 100%;
}

.explorer-footer {
  /* margin-top: 15px; */
  /* padding: 13px 10px; */
  position: fixed;
  bottom: 0;
  right: 0;
  /* width: 100%; */
  left: 360px;
  background: $lighter-color;
  height: 50px;
  padding: 10px;
}

.table-view-container {
  /*margin-left: -15px;*/
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  /*margin:0;*/
  /*padding:0;*/
}

.data-table-main {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 50px;
}

.breadcrumb-text-container {
  display: inline;
  position: relative;
  top: 6px;
}

.breadcrumb-text-container span {
  /*display: inline;*/
  /*font-size: 1.5em;*/
}

.bread-crumbs .fa-arrow-right {
  /*color: #FFF;*/
  /*font-size: 1.5em;*/
  /*display: inline;*/
  /*padding-left: 10px;*/
  /*padding-right: 10px;*/
}

.empty-table {
  padding: 0 10px;
  color: $dark-color;
}

.select-table {
  padding: 15px 10px;
  color: $dark-color;
}

.favorite.active .favorite-identicon {
  box-shadow: 0 0 0px 12px lighten($darkest-color, 4%);
}

.loading-cell {
  font-style: italic;
  color: $dark-color;
}

.pagination-details {
  display: inline;
  line-height: 32px;
  color: #999;
}

.rows-per-page-selector{
    padding: 0 15px;
}

.page-select{
  padding: 0 10px;
  position: relative;
  left: 3px;
}

#editor {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.action-buttons .btn {
  margin-right: 5px;
}

.start-logo{
    max-width: 60%;
    margin: 50px 0;
}

.toast-container {
  position: absolute;
  z-index: 5;
  right: 10%;
  top: 15px;
  padding: 0 30px;
  border-radius: 5px;
  max-width: 80%;
  max-height: 80%;

  i {
    margin-right: -10px;
  }
}

.tableview-header {
  cursor: pointer;
}

/* About Window styles */

.about-container {
  background: $lighter-color;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

/* Explorer Body Loading styles */

.explorer-loading {
  margin: 25% 50%;
  display: inline-block;
  font-size: 3.5em;
  color: $dark-color;
}

/* Connection Action Menu styles */

.connection-action-menu {
  list-style: none;
  color: black;
  padding: 0;
  border-radius: 10px;
  position: relative;
  z-index: 5;

  li {
    margin: 0;
    padding: 10px;
    text-align: right;
    border-bottom: #073642 1px solid;
    cursor: pointer;
  }

  li:last-of-type {
    border-bottom: none;
    border-bottom-radius: 10px;
  }

  li:first-of-type {
    border-top-radius: 10px;
  }

}

